
.home{

    font-size: 15px;
    position: relative;
    left: 800px;
    color: black;
    top:10px;
    display: inline-block;
    cursor: pointer;
    
    
  }
  .book1{
    position: absolute;
    width: 449px;
    height: 50px;
    left: 54px;
    top: 70px;
    
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.05em;

    color: #fefefe;
    
  }
  .bookfrom{
    box-sizing: border-box;

position: absolute;
width: 507px;
height: 450px;
left: 466px;
top: 259px;

background: #4179A2;
border: 1px solid #000000;
border-radius: 15px;
  }

  .from{
    position: absolute;
left: 10px;
top: 2px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #fefefe;
  }
  .selectfrom{
    position: absolute;
    top: 25px;
    width:300px;
    left: 10px;
  
    border-radius: 6px;
    color: #333;
    font-size: 14px;
    padding: 5px;
  }

  .to{
    position: absolute;
left: 10px;
top: 70px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #fefefe;
  }
  .selectto{
    position: absolute;
    top: 60px;
    width:300px;
    left: 10px;
   
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    padding: 5px;
  }

  .tickettype{
    position: absolute;
left: 10px;
top: 145px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #fefefe;
  }
  .type{
    position: absolute;
    top: 105px;
    left: 10px;
    width:300px;
   
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    padding: 5px;
  }

  .nopass{
    position: absolute;
left: 10px;
top: 230px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #fefefe;
  }
  .nopassfield{
    position: absolute;
    top: 60px;
    left: 10px;
    width:300px;

  }

  .submit{
    position: absolute;
width: 190px;
height: 48px;
left: 104px;
top: 380px;

background: #44C0AA;
border-radius: 7px;
cursor: pointer;
  }



  .booktickets{
    color: black;
    font-size: 15px;
    position: relative;
    left: 850px;
    top:10px;
    display: inline-block;
    cursor: pointer;
  }
  .terminals{
    color: black;
    font-size: 15px;
    position: relative;
    left: 900px;
    top:10px;
    display: inline-block;
    cursor: pointer;
  }
  .faredetails{
    color: black;
    font-size: 15px;
    position: relative;
    left: 950px;
    top:10px;
    display: inline-block;
    cursor: pointer;
  }
  .login{
    color: black;
    font-size: 15px;
    position: relative;
    left: 1000px;
    top:10px;
    display: inline-block;
    cursor: pointer;
  }
  .rectangle{
    position: absolute;
    width: 1540px;
    height: 100px;
    left: 0px;
    top: 80px;
    
    background: #44C0AA;
  }
  
  