.fare{
   
    position: absolute;
    width: 449px;
    height: 50px;
    left: 40px;
    top: 70px;
    
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.05em;

    color: #fefefe;
}
.rect{
    position: absolute;
width: 400px;
height: 400px;
left: 100px;
top: 230px;

background: #4179A2;
border-radius: 30px;
}
.calcu{
    position: absolute;
width: 192px;
height: 24px;
left: 130px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;

color: #FFFFFF;
}
.from1{
    position: absolute;
width: 59px;
height: 24px;
left: 25px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;

color: #FFFFFF;
}
.selectfrom1{
    
    position: absolute;
    top: 103px;
    width:300px;
    left: 20px;
  
    border-radius: 6px;
    color: #333;
    font-size: 14px;
    padding: 5px;
}
.selectto1{
    
    position: absolute;
    top: 180px;
    width:300px;
    left: 20px;
  
    border-radius: 6px;
    color: #333;
    font-size: 14px;
    padding: 5px;
    }

    .type1{
        position: absolute;
        top: 250px;
        left: 20px;
        width:150px;
       
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        padding: 5px;

    }

    .button1{
        position: absolute;
        top: 340px;
        left: 120px;
        width:150px;
        cursor: pointer;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        padding: 5px;
        background: #44C0AA;
        border-color:#44C0AA ;
    }
    .to1{
        position: absolute;
width: 29px;
height: 24px;
left: 25px;
top: 130px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size:14px;
line-height: 24px;

color: #FFFFFF;
    }
.tickettype1{
    position: absolute;
    width: 100px;
    height: 24px;
    left: 25px;
    top: 200px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.recta{
    box-sizing: border-box;

position: absolute;
width: 850px;
height: 230px;
left: 500px;
top: 80px;

border: none; /* Remove border */
border-radius: 10px;
box-shadow: 0 2px 5px rgba(5, 5, 5, 0.3);
}
.metro9{
    position:relative;
    
    left:20px;
    color:#030303c6;
  font:200;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.logo1{
    position: absolute;
    width:120px;
    height:120px;
    left:30px;
    top:25px;
}
.place{
    position:relative;
    top:70px;
    left:20px;
    font-family: unset;
    font-size: 17px;
}
.place1{
    position:relative;
    top:35px;
    left:750px;
    font-family: unset;
    font-size: 17px;
}
.symbol8{
    position: absolute;
    top:130px;
    left:328px;
    width:170px;
    height:40px;
}
.time{
    position:relative;
    top:30px;
    left:20px;
    font-family: unset;
    font-size: 14px;
}
.rupee{
    position: absolute;
    left:1255px;
    top:240px;
    font-size: 23px;
    color: #0e6ec1;
}
.icons{
    position:absolute;
    left:100px;
    

}

.symbol {
    position: relative;
    transition: filter 0.3s ease;
    cursor: pointer;
    width:30px;
    height:30px;
    left:1000px;
    top:100px;
  }
  
  .hovered {
    position:relative;
    filter: brightness(1.2);
    color: #44C0AA;
  }
  
  
  .related-text {
    position: relative;
    display: block;
    left:970px;
    top:84px;
    color: #26a38c;
    font-weight: 500;

  }
  .symbol1 {
    position: absolute;
    transition: filter 0.3s ease;
    cursor: pointer;
    width:35px;
    height:35px;
    left:1040px;
    top:98px;
  }
  
  .eco{
    position:absolute;
    filter: brightness(1.2);
    
  }
  
  .related-text1 {
    position:relative;
    display: block;
    left:1020px;
    top:84px;
    color: #26a38c;
    font-weight: 500;
  }
  .symbol2 {
    position:absolute;
    transition: filter 0.3s ease;
    cursor: pointer;
    width:43px;
    height:40px;
    left:1080px;
    top:96px;
  }
  
  .fast{
    position:absolute;
    filter: brightness(1.2);
    
  }
  
  .related-text2 {
    position: relative;
    display: block;
    left:1030px;
    top:84px;
    color: #26a38c;
    font-weight: 500;
  }
  .symbol3 {
    position: absolute;
    transition: filter 0.3s ease;
    cursor: pointer;
    width:35px;
    height:37px;
    left:1125px;
    top:98px;
  }
  
  .comfort{
    position:absolute;
    filter: brightness(1.2);
    
  }
  
  .related-text3 {
    position: relative;
    display: block;
    left:1115px;
    top:84px;
    color: #26a38c;
    font-weight: 500;
  }
  .symbol4 {
    position: absolute;
    transition: filter 0.3s ease;
    cursor: pointer;
    width:35px;
    height:35px;
    left:1163px;
    top:98px;
  }
  
  .mobility{
    position:absolute;
    filter: brightness(1.2);
    
  }
  
  .related-text4 {
    position: relative;
    display: block;
    left:1145px;
    top:84px;
    color: #26a38c;
    font-weight: 500;
  }
  