.fare{
   
    position: absolute;
    width: 449px;
    height: 50px;
    left: 40px;
    top: 70px;
    
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.05em;

    color: #fefefe;
}
.rect{
    position: absolute;
width: 400px;
height: 400px;
left: 100px;
top: 230px;

background: #4179A2;
border-radius: 30px;
}
.calcu{
    position: absolute;
width: 192px;
height: 24px;
left: 130px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;

color: #FFFFFF;
}
.from1{
    position: absolute;
width: 59px;
height: 24px;
left: 25px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;

color: #FFFFFF;
}
.selectfrom1{
    
    position: absolute;
    top: 103px;
    width:300px;
    left: 20px;
  
    border-radius: 6px;
    color: #333;
    font-size: 14px;
    padding: 5px;
}
.selectto1{
    
    position: absolute;
    top: 180px;
    width:300px;
    left: 20px;
  
    border-radius: 6px;
    color: #333;
    font-size: 14px;
    padding: 5px;
    }

    .type1{
        position: absolute;
        top: 250px;
        left: 20px;
        width:150px;
       
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        padding: 5px;

    }

    .button1{
        position: absolute;
        top: 340px;
        left: 120px;
        width:150px;
        cursor: pointer;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        padding: 5px;
        background: #44C0AA;
        border-color:#44C0AA ;
    }
    .to1{
        position: absolute;
width: 29px;
height: 24px;
left: 25px;
top: 130px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size:14px;
line-height: 24px;

color: #FFFFFF;
    }
.tickettype1{
    position: absolute;
    width: 100px;
    height: 24px;
    left: 25px;
    top: 200px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
    color: #FFFFFF;
}
  /* DropdownButton.css */

.dropdown {
  position: absolute;
  display: inline-block;
  top:20px;
  left: 1450px;
  
}

button {
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: -50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  width:130px;
  list-style-type:none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
  border-color: #000000;
  box-sizing: border-box;
  border-width: 5px;;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  top:-8px;
  left: 0px;
  border-radius: 50%;
}