
.home{

  font-size: 150px;
  position: relative;
  left: 800px;
  color: black;
  top:10px;
  display: inline-block;
  cursor: pointer;
  
  
}

.booktickets{
  color: black;
  font-size: 15px;
  position: relative;
  left: 850px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.terminals{
  color: black;
  font-size: 15px;
  position: relative;
  left: 900px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.faredetails{
  color: black;
  font-size: 15px;
  position: relative;
  left: 950px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.logo{
  position: absolute;
width: 130px;
height: 130px;
left: 20px;
top: -26px;
}
.login{
  color: black;
  font-size: 15px;
  position: relative;
  left: 1000px;
  top:10px;
  display: inline-block;
  cursor: pointer;
}
.rectangle {
  position: relative; /* Change from absolute to relative */
  width: 140px;
  height: 100px;
  margin-left: auto; /* Add margin-left and margin-right with auto */
  margin-right: auto;
  top: 80px;
  background: #44C0AA;
  
}
