.formcontainer,.loginform{
        display:flex;
        flex-direction:column;
        align-items:center;
        position: absolute;
width: 189px;
height: 70px;
left: 73px;
top: 130px;

font-family: 'Akshar';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 70px;
letter-spacing: 0.05em;


color: #FFFFFF;
        
        
}
.email{
    position: absolute;
width: 197px;
height: 30px;
left: 450px;
top: 20px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}
.password{
    position: absolute;
width: 98px;
height: 30px;
left: 450px;
top: 100px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

}
.field{
    position: absolute;
width: 280px;
height: 30px;
left: 450px;
top: 60px;
border: none; /* Remove border */
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


}
.field1{
    position: absolute;
    width: 280px;
    height: 30px;
    left: 450px;
    top: 140px;
    border: none; /* Remove border */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.submit{
    position: absolute;
width: 89px;
height: 30px;
left: 550px;
top: 200px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */
border-radius: 10px;
border-color: #44C0AA;
letter-spacing: 0.05em;

color: #faf9f9;
border-width: 0px;

background-color: #44C0AA;
}
.noaccount{
    position: absolute;
width: 200px;
height: 24px;
left: 565px;
top: 370px;

font-family: 'Literata';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 24px;
/* identical to box height */
border-color: #FFFFFF;
background-color: #FFFFFF;
border-width: 0px;

letter-spacing: 0.02em;

color: #000000;

}

