  .formcontainer1, .registerform{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: absolute;
width: 189px;
height: 70px;
left: 73px;
top: 130px;

font-family: 'Akshar';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 70px;
letter-spacing: 0.05em;


color: #FFFFFF;

}
.name{
    position: absolute;
width: 197px;
height: 30px;
left: 450px;
top: 20px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}
.email1{
    position: absolute;
width: 98px;
height: 30px;
left: 450px;
top: 90px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

}
.field2{
    position: absolute;
width: 280px;
height: 25px;
left: 450px;
top: 50px;
border-radius: 10px;
box-shadow: #000000;


}
.field3{
    position: absolute;
width: 280px;
height: 25px;
left: 450px;
top: 120px;
border-radius: 10px;
box-shadow: #000000;
}
.password1{
    position: absolute;
width: 176px;
height: 30px;
left: 450px;
top: 160px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}
.field4{
    position: absolute;
width: 280px;
height: 25px;
left: 450px;
top: 200px;
border-radius: 10px;
box-shadow: #000000;

}
.conpassword{
    
position: absolute;
width: 189px;
height: 30px;
left: 450px;
top: 230px;

font-family: 'Literata';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

}
.passfield{
    position: absolute;
width: 405px;
height: 42px;
left: 523px;
top: 723px;

background: #EEE9E9;
border-radius: 10px;
}